acr_login_server: "${acr_login_server}"
acr_username: "${acr_username}"
acr_password: "${acr_password}"

web_image: "web/nginx-secure"
web_tag: "casopractico2"

nginx_basic_auth_user: "admin"
nginx_basic_auth_password: "Secadmin123"

aks_namespace: "casopractico2"

redis_image_src: "docker.io/jsosa15/redis:6.0.8"
redis_image_dst: "aks/redis"
redis_tag: "casopractico2"

vote_front_image_src: "docker.io/jsosa15/azure-vote-front:v1"
vote_front_image_dst: "aks/azure-vote-front"
vote_front_tag: "casopractico2"

redis_pvc_name: "redis-pvc"
redis_storage_size: "1Gi"
