acr_login_server: "${acr_login_server}"
acr_username: "${acr_username}"
acr_password: "${acr_password}"

web_image: "web/nginx-secure"
web_tag: "casopractico2"

nginx_basic_auth_user: "admin"
nginx_basic_auth_password: "Secadmin123"